
.error {
color:red;
}

textarea.error,
input.error {
 border: 1px solid red;
 border-radius: 4px;
 }

h1.home {
text-align: center;
color: red;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  opacity: 0.5;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}


