<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
</head>
<body>
<header th:replace="fragments/header ::menu"></header>
<h1>Kontakt</h1>
<span th:if="${isSent}">Wiadomość została wysłana dziękujemy!</span>
<form th:action="@{/wyslij}" method="post" th:object="${contact}">
    <label for="name">Imie:</label>
    <br>
    <input id="name" type="text" th:field="*{name}"/>
    <br>
    <label for="surname">Nazwisko:</label>
    <br>
    <input id="surname" type="text" th:field="*{surname}">
    <br>
    <label for="email">E-mail:</label>
    <br>
    <input id="email" type="text" th:field="*{email}">
    <br>
    <label for="message">Wiadomość</label>
    <br>
    <textarea id="message" cols="30" rows="10" th:field="*{message}"></textarea>
    <br>
    <input type="submit" value="Wyślij">
    <input type="reset" value="Wyczyść">
</form>
<footer th:replace="fragments/footer ::footer">
</footer>
</body>
</html>