<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bootcamp</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<header th:replace="fragments/header :: menu"></header>

<h1>Zapis na kurs</h1>

<span th:if="${isSent}">Wiadomość została wysłana, dziękujemy!</span>
<!--<h1 th:if="${editionClosed}">Rekrutacja zakończona.</h1>-->
<h1 th:unless="${edition}">Rekrutacja zakończona.</h1>

<form th:action="@{'/kursy/zapisz/'+${edition.id}}" method="post" th:object="${user}" th:if="${edition}">
    <!--<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></p>-->

    <!--<p th:if="${#fields.hasErrors('firstName')}" class="error">First name errors</p>-->

    <!--<p th:errors="*{firstName}" class="error"></p>-->
    <p th:errors="*" class="error"></p>

    <input type="hidden" th:field="*{id}">

    <label for="edition">Kurs</label>
    <input id="edition" name="do-odczytu" type="text" th:value="${edition.course.name}" readonly /><br><br>
    <!--<input id="editionId" name="do-odczytu" type="hidden" th:value="${edition.id}" th:field="*{courseEdition}" /><br><br>-->
    <input id="editionId2" name="do-odczytu" type="hidden" th:value="${edition.id}" th:name="courseEdition" th:id="courseEdition" /><br><br>
    <!--<input  name="disabled" type="text" th:value="${edition.course.name}" disable/><br><br>-->

    <label for="name">Imię</label>
    <input id="name" type="text" th:field="*{name}" /><br><br>

    <!--<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name errors</p>-->
    <label for="lastName">Nazwisko</label>
    <input id="lastName" type="text" th:field="*{surname}" /><br><br>

    <!--<p th:if="${#fields.hasErrors('email')}" th:errors="*{mail}">First name errors</p>-->
    <label for="mail">E-mail</label>
    <input id="mail" type="email" th:field="*{mail}" /><br><br>

    <label for="password">Hasło:</label>
    <input id="password" type="text" th:field="*{password}" /><br><br>

    <label for="phone">Telefon</label>
    <input id="phone" type="text" th:field="*{phone}" /><br><br>

    <input type="submit" value="Wyślij" onclick="return confirm('Czy na pewno chcesz się zapisać?')"/>
    <input type="reset" value="Wyczyść">
</form>

<footer th:replace="fragments/footer :: footer">
</footer>

</body>
</html>